<div class="register-page">
  <div class="register-container">
    <!-- Logo -->
    <div class="register-logo">
      <h1>Banking<span>App</span></h1>
      <p>Create your banking account</p>
    </div>

    <!-- Card -->
    <div class="register-card">
      <h2>Create Account</h2>

      @if (errorMessage) {
        <div class="error-banner">{{ errorMessage }}</div>
      }

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">First Name</label>
            <input
              type="text"
              formControlName="firstName"
              placeholder="First Name"
              class="form-input"
            />
            @if (form.get('firstName')?.invalid && form.get('firstName')?.touched) {
              <p class="form-error">First name is required</p>
            }
          </div>
          <div class="form-group">
            <label class="form-label">Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              placeholder="Last Name"
              class="form-input"
            />
            @if (form.get('lastName')?.invalid && form.get('lastName')?.touched) {
              <p class="form-error">Last name is required</p>
            }
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">Email</label>
          <input
            type="email"
            formControlName="email"
            placeholder="example@email.com"
            class="form-input"
          />
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <p class="form-error">Invalid email</p>
          }
        </div>

        <div class="form-group">
          <label class="form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            placeholder="••••••••"
            class="form-input"
          />
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <p class="form-error">
              Password must be at least 8 characters, include one uppercase letter and one number or
              symbol
            </p>
          }
        </div>

        <button type="submit" [disabled]="form.invalid || loading" class="btn-submit">
          {{ loading ? 'Creating account...' : 'Create Account' }}
        </button>
      </form>

      <div class="register-footer">
        Already have an account?
        <a routerLink="/login">Sign In</a>
      </div>
    </div>
  </div>
</div>
